{% extends "layout.html" %}
{% block csslink%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registerlogin.css')}}">

{% endblock csslink %}
{% block content %}
<form class="form-container" action="{{url_for('register')}}" method="POST">
    <h2>Register</h2>
    <p class="input-container">
        <label for="username">Username</label>
        <input type="text" id="username" name='username'>
    </p>
    <p class="input-container">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </p>
    <p class="input-container">
      <input type="submit" value="register">
    </p>
</form>
<p class="end-question">already registered? <a href="{{ url_for('login')}}">login</a></p>

{%endblock content %}
