{% extends "layout.html" %}
{% block header%}
TODO: {{current_user.username }}
{% endblock %}
{% block csslink%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
{% endblock %}

<p id="demo"></p>

{% block content %}
<div class="container">
    
    <div class="todo-add" style="display: flex; justify-content: space-between;">
        <form action="{{url_for('home')}}" method="POST">
            <label for="todo-text">todo</label>
            <input type="text" id='todo-text' name="todo-text">
            <input type="submit" value="add item">
            <!-- <input type="button" id="btn-add-item" value="add item" onclick="addItem(this.id)"> -->
        </form>
        <div class="logout">
            <a href="{{url_for('logout') }}">logout</a>
        </div>
    </div>
        <!-- <form id="todo-form" action="{{ url_for('home')}}" method="POST">
            <div>
                <label >todo</label>
                <input id="todo-text" type="text" name="todoItem">
                <input type="hidden" name="btn_identifier" value="addTodo" />
            </div>
            <input id="todo-button" type="submit" value="Add" name="add">
        </form>
        <form id="deleteAll-form" action="{{ url_for('home')}}" method="POST">
            <input type="hidden" name="btn_identifier" value="delete all" />
            <input id="deleteAll-button" type="submit" value="delete all" name="deleteAll">
        </form> -->
    
    <ul id="todo-list" class="todo-list">

        {% if todo_items is defined %}
            {% for i in range(todo_items.count()) %}
                {% if todo_items[i].completed %}
                    <li class="todo-item"  style="background-color: #a6eda7;">
                        <input class="todo-delete" type="button" id="{{ 'del-'+todo_items[i].id|string }}" value="&#10008" onclick="deleteItem(this.id);" >
                        <div >
                            <input class="todo-completed" type="checkbox" id="{{ 'chk-'+todo_items[i].id|string}}" onclick="taskDone(this.id)" checked >
                            <p class="todo-context">{{todo_items[i]}}</p>
                        </div>
                    </li>
                {% else %} 
                    <li class="todo-item" style="background-color: rgb(240, 240, 85)">
                        <input class="todo-delete" type="button" id="{{  'del-'+todo_items[i].id|string }}" value="&#10008" onclick="deleteItem(this.id);" >
                        <div  >
                            <input class="todo-completed" type="checkbox" id="{{ 'chk-'+todo_items[i].id|string}}" onclick="taskDone(this.id)">
                            <p class="todo-context">{{todo_items[i] }}</p>
                        </div>
                    </li>
                {% endif %}
            {% endfor %} 
        {% else %}
            <p>no items added</p>
        {% endif %}
    </ul>
    
</div>

<script src="{{url_for('static', filename='js/todo.js')}}">   </script>
{%endblock content %}

